@model IEnumerable<AdministradorTienda.Models.CuentaCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Saldo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Cliente != null)
                    {
                        @($"{item.Cliente.Nombre} {item.Cliente.Apellido}")
                    }
                    else
                    {
                        @("No Cliente")
                    }
                </td>
                <td>
                    @if (item.Saldo != null)
                    {
                        @item.Saldo
                    }
                    else
                    {
                        @("No Saldo")
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCuenta">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCuenta">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCuenta">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
