@model IEnumerable<AdministradorTienda.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @($"{item.Cliente?.Nombre} {item.Cliente?.Apellido}")
                </td>
                <td>
                    @($"{item.UsuarioRegistro?.Nombre} {item.UsuarioRegistro?.Apellido}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPago)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPago">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPago">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
